<div class="bottle-show-space">
	<div class="bottle-show-image">
<!-- 		本当はimage_processingでリサイズしたいがrails7ではruby-vipsとか使ったほうがいいとかややこしいので一旦画像の投稿自体を縮小してやる。(横250px,縦300px) -->
		<%= image_tag @bottle.image,class:"bottle-show-image-content"%>
	</div>
	<div class="bottle-show-discription">
		<h3 class="bottle-show-name text"><%= @bottle.name%></h3>
		<p class="bottle-show-price text"><%= @bottle.price%>円</p>
		<p class="bottle-show-area text"><%= @bottle.area.name%></p>
		<p class="bottle-show-explanation text"><%= @bottle.explanation%></p>
	</div>
	<%= render 'bottles/under_bottles', bottles: @recommending_bottles %>
</div>