<div class="admin-toppage">
	<div class="log-out-button">
		<%= button_to "ログアウト", destroy_admin_session_path,method: :delete %>
	</div>
	<div class="admin-options">
		<div class="admin-bottles admin-option">
			<%= link_to "ボトル一覧",admins_bottles_path%>
		</div>
		<div class="admin-areas admin-option">
			<%= link_to "エリア一覧",admins_areas_path%>
		</div>
		<div class="admin-tastes admin-option">
			<%= link_to "香り一覧",admins_tastes_path%>
		</div>
		<div class="admin-tags admin-option">
			<%= link_to "タグ一覧",admins_tags_path%>
		</div>
		<div class="admin-tags admin-option">
			<%= link_to "熟成一覧",admins_matures_path%>
		</div>
	</div>
</div>