<!DOCTYPE html>
<html>
  <head>
    <title>Whiskynator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn rel="stylesheet">
  </head>

  <body>
    <div class="main-container">
      <div class="top-bar">
        <h1 class="menu-name text"><%=link_to "Bar Bronks",root_path, class: "menu-name-link"%></h1>
      </div>
      <div class="address-information">
        <p class="address-information-text text">TEL:078-362-2727</p>
      </div>
      <div class="search-space">
          <h1 class="search-title text"><%=link_to "Whisky Menu",root_path,class:"whisky_menu"%></h3>
          <div class="form-space">
              <%= form_with url: searched_word_path,method: :get do |f| %>
                  <div class="form-text_field">
                      <%= f.text_field :search_word,class:"form-text_field_field",:placeholder => "Search anything..."%>
                  </div>
              <% end %>
          </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
